<?xml version="1.0" encoding="utf-16"?>
<UpgradeableThrusterSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ThrustUpgradeMultiplier>1</ThrustUpgradeMultiplier>
  <PowerUpgradeMultiplier>0.9</PowerUpgradeMultiplier>
</UpgradeableThrusterSettings>